@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap");

:root {
	--font-family: "Catamaran", sans-serif;
	--text-color: #fff;
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}
body::after {
	content: "";
	position: fixed;
	inset: 0;
	background: rgba(92, 90, 90, 0.26);
	pointer-events: none;
}
